* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-size: 16px;
    background-image: linear-gradient(
      to right,
      rgb(1, 1, 24) 80%,
      rgb(44, 44, 2)
    ); 
    font-family: "Suisseintl Local", sans-serif;
    color: white;
  }
  .navigation{
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 3% 10% 3% 10%;
    justify-content: flex-end;
    gap: 30px;
  }
  .navigation a:link{
    text-decoration: none;
    color: white;
  }
  .navigation a:visited{
    text-decoration: none;
    color: white;
  }
  .navigation a:hover{
    color: gray;
    transition: 0.5s;
  }
  .about{
    margin: 5% 3%;
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .aboout h1{
    font-size: 1.5rem;
  }
  .about p{
    font-size: 1.2rem;
    padding-top: 3%;
    line-height: 1.5;
  }
  .portfolio{
    margin: 3% 3%;
  }
  .portfolio h2{
    text-align: center;
    font-size: 2rem;
  }
.portfolio-item{
  display: flex;
  padding-top: 3%;
  gap: 30px;
}
.project1-img{
  width: 35%;
  object-fit: cover;
  border-radius: 20px;
}
.portfolio-content{
  padding-top: 3%;
  width: 50%;
}
.portfolio-content p{
  padding-top: 3%;
  font-size: 1.2rem;
}
.contact{
  text-align: center;
  margin: 5% 3% 1% 3%;
  margin-left: auto;
  margin-right: auto;
}
.contact h2{
  font-size: 2rem;
}
.contact p{
  padding-top: 1%;
  font-size: 1.2rem;
}
.contact a:link{
  text-decoration: none;
}
footer{
  text-align: center;
}

@media screen and (max-width:992px) {
  .about{
    width: 70%;
    margin: 10% 3%;
   margin-left: auto;
   margin-right: auto;
  }
  .portfolio-content{
    width: 100%;
  }
  .portfolio-item{
    padding-top: 5%;
  }
  .contact{
    margin-top: 7%;
  }
}
@media screen and (max-width:768px){
  .navigation{
    margin-top: 6%;
  }
  .portfolio-item{
    flex-direction: column;
    padding-top: 10%;
  }
  .project1-img{
    width: 100%;
  }
  .portfolio-content{
    padding-top: 0%;
  }
  .contact{
    margin-top: 10%;
  }
}
@media screen and (max-width:576px){
  .about{
    width:90%
  }
  .about p{
    font-size: 1rem;
  }
  .portfolio-content p{
    font-size: 1rem;
  }
  .contact{
    width: 90%;
  }
  .contact p{
    font-size: 1rem;
  }
  footer{
    font-size: 1rem;
  }
}
@media screen and (max-width:426px){
  .navigation{
    justify-content: center;
    margin-top: 10%;
  }
  .about{
    width: 95%;
  }
}
@media screen and (max-width:320px){
  .about p{
    font-size: 0.8rem;
  }
  .about h1, .portfolio h2,.contact h2{
    font-size: 1.5rem;
  }
  .portfolio-content p{
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .contact p{
    font-size: 0.8rem;
    line-height: 1.5;
  }
  footer{
    font-size: 0.8rem;
  }
}